/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.content{
    margin-top: 70px;
}

.tile_button{
    min-width: 100px; 
    height: 100px;
   
}
.tile_button_label{
    position: relative; 
    top: -65px; 
    font-size: 12px;
    text-align: center;
  
}
.big_tile_button_label{
    position: relative; 
    top: 0px; 
    font-size: 24px;
    text-align: center;
  
}
.big_tile_button{
    margin: 5px;
    width: 210px; 
    height: 210px;
   
}
.big_tile_button i{
    font-size: 100px;
}
.status_indicator{
    font-size: 30px;
}
.section-title{
    font-family: 'Quicksand', sans-serif;
}
 .showbox {
   
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .showbox:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

.structured{
    list-style-type: none;
}

.btn-default{
    
}